:root {
    --bg-color: #f5f7fa;
    --card-bg: #ffffff;
    --primary-color: tan;
    --text-dark: #1a1a1a;
    --text-light: #777;
    --label-gris: #b0b0b0;
    --icon-bg: tan;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-dark);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background: var(--card-bg);
}

.logo span {
    color: var(--primary-color);
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: var(--text-dark);
    margin-left: 25px;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: var(--primary-color);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-content {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
}

.social-links {
    display: flex;
    gap: 20px;
}

.social-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: var(--primary-color) 0.3;
}

.social-links a:hover {
    color: var(--primary-color);
}

.contact-container {
    background-color: var(--bg-color);
    padding: 40px;
    font-family: 'Arial', sans-serif;
    max-width: 400px;
}

h2 {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #1a1a1a;
}

.info-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 25px;
}

.icon-box {
    background: var(--icon-bg);
    width: 60px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.02);
}

.label {
    color: var(--label-gray);
    font-size: 0.8rem;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.text-content p,
address {
    margin: 0;
    color: #555;
    line-height: 1.5;
    font-style: normal;
}

.num {
    color: var(--text-dark);
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-box {
    background: var(--icon-bg);
    width: 50px;
    height: 50px;
    border-radius: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.02);
}

.section-contact h2 {
    color: tan;
    text-align: center;
    margin-bottom: 50px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
    color: saddlebrown;
}

.form-nom-email {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.form-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input,
textarea {
    padding: 15px;
    border-radius: 3px;
    border: none;
}

label {
    margin-bottom: 10px;
}

input[type='submit'] {
    width: 200px;
    margin: auto;
    margin-top: 30px;
}

.cta-button {
    display: inline-block;
    padding: 12px 25px;
    background: var(--primary-color);
    color: white;
    text-decoration: none;
    border-radius: 50px;
    transition: 0.3s;
}

.cta-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(85, 104, 255, 0.3);
}

img {
    border-radius: 8px;
}